* {
    margin: 0;
    padding: 0;

}

nav {
    background-color: #e01414;
    color: #fff;
    display: flex;
    height: 100px;
    position: sticky;
    top: 0px;
    width: 100%;
}

nav h1 {
    width: 50%;
    padding: 15px;
}

nav div ul {
    width: 50%;
    list-style-type: none;
    display: flex;
}

nav div ul li {
    padding: 25px;
}